<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>MyBookApp</display-name>

    <servlet>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <servlet-class>DisplayBooksServlet</servlet-class>

        <init-param>
            <param-name>jdbcUrl</param-name>
            <param-value>jdbc:mysql://10.10.8.119:3306/te31435_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC</param-value>
        </init-param>

        <init-param>
            <param-name>jdbcUser</param-name>
            <param-value>te31435</param-value>
        </init-param>

        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>te31435</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <url-pattern>/displayBooks</url-pattern>
    </servlet-mapping>

</web-app>
